@media print {

    .container {
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    .navbar,
    .set-list-detail .btn,
    .song-detail .btn,
    .set-list-detail h2,
    .set-list-detail p,
    .breadcrumb {
        display: none !important;
    }

    .list-group ul, .list-group li {
        width: 100% !important;
        border: 0 !important;
    }
}

.members-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline;
}

.members-list li {
  display: inline;
  border: 0;
  padding: 0;
  font-size: 1.2rem; /* Larger font size */
  color: #6c757d; /* Light grey color */
}

.members-list li:not(:last-child)::after {
  content: ", ";
}

#songs, #setlists, #notes {
    border-left: 1px solid #dee2e6;
    padding-left: 1rem;
    border-right: 1px solid #dee2e6;
    padding-right: 1rem;
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 1rem;
}