@media print {

    .container {
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    .navbar,
    .set-list-detail .btn,
    .song-detail .btn,
    .set-list-detail h2,
    .set-list-detail p{
        display: none !important;
    }

    .list-group ul, .list-group li {
        width: 100% !important;
        border: 0 !important;
    }
}