@media print {
    .container {
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    #songsTable,
    .navbar,
    .set-list-detail .btn,
    .song-detail .btn,
    .set-list-detail h2,
    .set-list-detail p,
    .breadcrumb {
        display: none !important;
    }

    .list-group ul, .list-group li {
        width: 100% !important;
        border: 0 !important;
    }

    .print-only {
        display: block !important;
    }
}

.print-only {
    display: none;
}

#songs, #setlists, #notes {
    border-left: 1px solid #dee2e6;
    padding-left: 1rem;
    border-right: 1px solid #dee2e6;
    padding-right: 1rem;
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 1rem;
}